*{
	color: rgb(184, 184, 184);
	font-size: 1.2rem;
}
body{
	background-color: rgb(46, 46, 46);
	font-family: sans-serif;
}

header,section{
	display: block;
	margin: 20px;
}

header,section:not(main section){
	color: white;
}

main{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 20px;
	section{
		padding: 10px;
		background-color: rgb(65, 65, 65);
	}
}

footer{
	div{
		display:block;
		margin:20px;
		text-align:center;

		a,a:hover,a:active{
			color:#00d2f7;
		}
	}
}

@media (orientation:portrait){
	main{
		grid-template-columns: 1fr;
		gap: 0px;
	}
}